.ada-cyber {
    section {
        width: 100%;
        position: relative;
    }
}

#ada-theme-spotlight, #ada-tf-spotlight {
    background-color: #eee;
}

#ada-explore-button {
    height: 16rem;
    border-radius: 2rem;
}

#ada-tf-branding-2 {
    height: 15rem;
    border-radius: 2rem;
}

#ada-palette {
    height: 20rem;
}
