@use "../mixins";
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

#ds-brutalism {
    --font-title: "Inter", sans-serif;
    --font-body: "Inter", sans-serif;
    --subtitle-primary: black;
    --text-primary: black;
    font-family: var(--font-body);

    h1, .h1 {
        font-weight: 900;

        @include mixins.respond-above('md') {
            --font-scale: 1.5;
        }
    }

    h2, .h2 {
        font-weight: 800;
        --font-scale: 2;

        @include mixins.respond-below('md') {
            --font-scale: 1.5;
        }
    }

    h3, .h3 {
        font-weight: 800;
    }

    h3 {
        border-bottom: 2px solid var(--subtitle-primary);
        @include mixins.respond-below('md') {
            --font-scale: 1.5;
        }
    }
    
    #hero {
        background: url("/assets/design-styles/brutalism/limestone.jpg") repeat, white;
        background-size: 500px 500px;
        background-blend-mode: difference;
        color: var(--text-primary);

        & > div:first-of-type {
            height: min(max(40vh, 250px), 500px);
        }
    }

    #title-box {
        height: 2.3rem;

        @include mixins.respond-above('md') {
            height: 3.5rem;
        }

        @include mixins.respond-above('xl') {
            height: 4.4rem;
        }
    }

    #sep {
        height: 4px;
        background-color: black;
        width: 100%;
        margin-top: -0.75rem;
        margin-bottom: 0.75rem;
    }

    #when-to-use {
        --text-primary: white;
        --subtitle-primary: white;
    }

    .bg-red {
        background-color: #BF1212;
    }

    .bg-black {
        background-color: black;
    }

    .text-red {
        color: #BF1212;
    }
}

#ds-neobrutalism {
    --font-title: "Titan One", sans-serif;
    font-weight: 500;

    .bg-blue {
        background-color: #B0FEFF;
    }

    .bg-green {
        background-color: #8EFF7A;
    }

    .bg-pink {
        background-color: #FF8EF6;
    }

    .bg-yellow {
        background-color: #FCFF60;
    }

    .neo-border {
        border: 4px solid black;
        box-shadow: -8px 8px 0px 0px black;
    }

    .neo-info-top:first-of-type {
        border: 4px solid black;
        box-shadow: -8px 8px 0px 0px black;

        &::after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: white;
        }
    }

    .neo-info-top:not(:first-of-type) {
        border: 4px solid black;
        margin-left: -4px;
    }

    .tab:not(.active) {
        padding: 0.5rem 0;
        color: #0006
    }

    .tab.active {
        padding: 1rem 0;
        color: black;
    }

    .hero-1 {
        height: min(max(25vh, 200px), 500px);

        > div {
            flex: 1 1 0;
            overflow: hidden;
        }

        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    .hero-2 {
        background: url("/assets/design-styles/neobrutalism/grid.svg") repeat, #B0FEFF;
        padding: 0 10vw;

        @include mixins.respond-below('md') {
            padding: 0;
            margin: 0 -10vw;
        }
    }

    #examples {
        img {
            
        }
    }
}
