@use "../mixins";
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#ds-brutalism {
    --font-title: "Inter", sans-serif;
    --font-body: "Inter", sans-serif;
    --subtitle-primary: black;
    --text-primary: black;
    font-family: var(--font-body);

    h1, .h1 {
        font-weight: 900;

        @include mixins.respond-above('md') {
            --font-scale: 1.5;
        }
    }

    h2, .h2 {
        font-weight: 800;
        --font-scale: 2;

        @include mixins.respond-below('md') {
            --font-scale: 1.5;
        }
    }

    h3, .h3 {
        font-weight: 800;
    }

    h3 {
        border-bottom: 2px solid var(--subtitle-primary);
        @include mixins.respond-below('md') {
            --font-scale: 1.5;
        }
    }
    
    #hero {
        background: url("/assets/design-styles/brutalism/limestone.jpg") repeat, white;
        background-size: 500px 500px;
        background-blend-mode: difference;
        color: var(--text-primary);

        & > div:first-of-type {
            height: min(max(40vh, 250px), 500px);
        }
    }

    #title-box {
        height: 2.3rem;

        @include mixins.respond-above('md') {
            height: 3.5rem;
        }

        @include mixins.respond-above('xl') {
            height: 4.4rem;
        }
    }

    #sep {
        height: 4px;
        background-color: black;
        width: 100%;
        margin-top: -0.75rem;
        margin-bottom: 0.75rem;
    }

    #when-to-use {
        --text-primary: white;
        --subtitle-primary: white;
    }

    .bg-red {
        background-color: #BF1212;
    }

    .bg-black {
        background-color: black;
    }

    .text-red {
        color: #BF1212;
    }
}

#ds-neobrutalism {
    --font-title: "Titan One", sans-serif;
    font-weight: 500;

    .bg-blue {
        background-color: #B0FEFF;
    }

    .bg-green {
        background-color: #8EFF7A;
    }

    .bg-pink {
        background-color: #FF8EF6;
    }

    .bg-yellow {
        background-color: #FCFF60;
    }

    .neo-border {
        border: 4px solid black;
        box-shadow: -8px 8px 0px 0px black;
    }

    .neo-info-top:first-of-type {
        border: 4px solid black;
        box-shadow: -8px 8px 0px 0px black;

        &::after {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: white;
        }
    }

    .neo-info-top:not(:first-of-type) {
        border: 4px solid black;
        margin-left: -4px;
    }

    .tab:not(.active) {
        padding: 0.5rem 0;
        color: #0006
    }

    .tab.active {
        padding: 1rem 0;
        color: black;
    }

    .hero-1 {
        height: min(max(25vh, 200px), 500px);

        > div {
            flex: 1 1 0;
            overflow: hidden;
        }

        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    .hero-2 {
        background: url("/assets/design-styles/neobrutalism/grid.svg") repeat, #B0FEFF;
        padding: 0 10vw;

        @include mixins.respond-below('md') {
            padding: 0;
            margin: 0 -10vw;
        }
    }

    #examples {
        img {
            
        }
    }
}

#ds-bento {
    --font-title: "Titan One", sans-serif;
    font-weight: 500;

    p {
        --font-scale: 0.8;
    }

    .bg-light-lime, & {
        background-color: #E4FFCF;
    }

    .bg-green {
        background-color: #69D4AD;
    }

    .bg-blue {
        background-color: #B9EAF4;
    }

    .bg-purple {
        background-color: #653E80;
    }

    .text-light-lime {
        color: #E4FFCF;
    }

    .text-purple {
        color: #653E80;
    }

    #hero > img {
        @include mixins.respond-above('lg') {
            object-fit: contain;
            max-height: 75vh;
        }

        @include mixins.respond-below('lg') {
            object-fit: cover;
            min-height: 30vh;
        }
    }

    #about {
        > :nth-child(1) {
            > div {
                flex: 2 1 0;
            }

            > :nth-child(1) {
                flex: 3 1 0;
            }
        }

        > :nth-child(2) {
            > div {
                flex: 1 1 0;
            }

            > :nth-child(2) {
                flex: 3 1 0;
            }
        }

        > :nth-child(3) {
            > div {
                flex: 2 1 0;
            }

            > :nth-child(2) {
                flex: 3 1 0;
            }
        }
    }
}

#ds-editorial {
    --font-title: "Bodoni Moda SC", serif;
    --font-body: "Inter", sans-serif;
    --text-primary: black;

    font-family: var(--font-body);

    h1 {
        --font-scale: 3;
        letter-spacing: -2%;
    }

    h3 {
        --font-scale: 0.8;
        font-weight: 800;
        font-family: var(--font-body);
    }

    #about-content {
        > :nth-child(1) {
            flex: 2 1 0;
        }

        > :nth-child(2) {
            flex: 5 1 0;
        }

        > :nth-child(3) {
            flex: 3 1 0;
        }
    }

    .drop-cap::first-letter {
        float: left;
        font-size: 3.5rem;
        font-weight: 600;
        padding-right: 0.1em;
    }

    .left-col-item img {
        aspect-ratio: 1;
        object-fit: cover;
        object-position: top left;
    }
}

#ds-glassmorphism {
    --font-title: "Pacifico", cursive;
    --text-primary: black;

    background-color: pink;

    h1 {
        --font-scale: 0.8;


        @include mixins.respond-above('sm') {
            --font-scale: 1;
        }

        @include mixins.respond-above('md') {
            --font-scale: 1.5;
        }
    }

    h2 {
        --font-scale: 0.8;

        @include mixins.respond-above('sm') {
            --font-scale: 1;
        }
    }

    #hero {
        width: 100%;
        aspect-ratio: 2/1;
        min-height: 400px;
        max-height: 80vh;
        background-image: url('/assets/design-styles/glassmorphism/hero-bg.webp');
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
        background-position: bottom;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            width: 100%;
            aspect-ratio: 2/1;
            max-height: 80vh;
            transform: rotateX(0.5turn); 
            background-image: url('/assets/design-styles/glassmorphism/hero-bg.webp');
            background-position: bottom;
            filter: blur(4px);
            --gradient: linear-gradient(transparent 85%, white 100%);
            -webkit-mask-image: var(--gradient);
            mask-image: var(--gradient);
            z-index: 2;
            pointer-events: none;
        }
    }

    #hero-text {
        width: 80vw;
        height: 60%;
        margin-bottom: 3%;
    }

    #about {
        background: url('/assets/design-styles/glassmorphism/blob.webp'), radial-gradient(circle at 40% 40%, #ef518f, transparent), radial-gradient(circle at 80% 60%, #fb904c, transparent);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    %glass {
        border-radius: 32px;
        backdrop-filter: blur(6px) brightness(90%);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        color: white;
    }

    .glass-dark {
        @extend %glass;
        background: linear-gradient(145deg, transparent 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.3) 80%, transparent 100%), linear-gradient(145deg,rgba(255, 255, 255, 0.7) 0%, rgba(255, 175, 239, 0.4) 21%, rgba(255, 176, 219, 0.4) 47%, rgba(255, 131, 125, 0.25) 60%, rgba(255, 192, 119, 0.4) 81%, rgba(255, 255, 255, 0.7) 100%);
        
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 2px solid transparent;
            border-radius: 32px;
            background: linear-gradient(145deg,rgba(255, 255, 255, 1) 0%, rgba(255, 175, 239, 0.7) 21%, rgba(255, 176, 219, 0.5) 47%, rgba(255, 131, 125, 0.6) 60%, rgba(255, 192, 119, 0.75) 81%, rgba(255, 255, 255, 1) 100%);
            background-origin: border-box;
            background-clip: border-box;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            pointer-events: none;
        }
    }

    .glass-light {
        @extend %glass;
        background: linear-gradient(145deg,rgba(255, 255, 255, 0.7) 0%, rgba(255, 175, 239, 0.4) 21%, rgba(255, 176, 219, 0.4) 47%, rgba(255, 131, 125, 0.25) 60%, rgba(255, 192, 119, 0.4) 81%, rgba(255, 255, 255, 0.7) 100%);
        
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 2px solid transparent;
            border-radius: 32px;
            background: linear-gradient(145deg,rgba(255, 255, 255, 1) 0%, rgba(255, 175, 239, 0.7) 21%, rgba(255, 176, 219, 0.5) 47%, rgba(255, 131, 125, 0.6) 60%, rgba(255, 192, 119, 0.75) 81%, rgba(255, 255, 255, 1) 100%);
            background-origin: border-box;
            background-clip: border-box;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
            pointer-events: none;
        }
    }

    .mac-icons::after {
        $pre-button-height: 0.8rem;
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        left: 16px;
        width: calc(4 * $pre-button-height);
        height: $pre-button-height;
        background-image: url('/assets/components/window-buttons.svg');
        background-size: calc(4 * $pre-button-height) $pre-button-height;
    }

    #css-implementation {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/design-styles/glassmorphism/dark-gradient.jpg");
        background-size: cover;
        filter: hue-rotate(120deg);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

        > * {
            filter: hue-rotate(-120deg);
        }
    }

    .text-shadow {
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }
}
