@use "mixins";
@use "fonts";

.blog-container {
    width: 100%;
    row-gap: 0.5rem;
    margin: auto;
    align-items: center;
    padding: 1rem 3% 15vh;

    background-color: color-mix(in srgb, var(--card-primary) 40%, transparent);
    box-shadow: 0 2px 5px var(--shadow-primary);

    p {
        width: 100%;
    }

    figure {
        width: 100%;
        
        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    @include mixins.respond-above(md) {
        width: 80%;
    }

    @include mixins.respond-above(lg) {
        width: 70%;
    }

    @include mixins.respond-above(xl) {
        width: 920px;
    }
}

.callout {
    background-color: var(--card-primary);
    background-color: color-mix(in srgb, var(--card-primary) 50%, transparent);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid var(--card-border);
    border-radius: 20px;
    box-shadow: 4px 4px 5px var(--shadow-primary);
    width: max-content;
}

.db-ball {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(circle at 60px 30px, #f00, #000);
    justify-content: center;
    align-items: center;
    @include mixins.font-size(2rem);
    font-family: var(--font-title);
    font-weight: 800;
    margin-bottom: 1rem;
    &:hover {
        background: radial-gradient(circle at 60px 30px, #f40, #000);
    }
    &.db-target {
        background: radial-gradient(circle at 60px 30px, #f80, #000);
    }
    &.highlight {
        background: radial-gradient(circle at 60px 30px, #0f0, #000);
    }

    > span {
        margin-top: -4px;
    }
}

.db-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2rem 1rem;
}

.db-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: var(--theme-background-gradient);
    border: 1px solid var(--card-border);
    border-radius: 20px;
}

.db-drop {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}
