.wideTextContainer {
  width: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thinTextContainer {
  width: 50%;
  row-gap: 0.5rem;
  margin: auto;
  align-items: center;
  padding: 1rem 3%;

  background-color: color-mix(in srgb, var(--card-primary) 40%, transparent);
  box-shadow: 0 2px 5px var(--shadow-primary);

  p {
    width: 100%;
  }
}

.projectHomeContainer {
  width: 100%;
  padding: 0 var(--project-body-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.bd-theme {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;

  opacity: 0.6;
  transition: opacity 100ms ease-in-out;

  &:hover {
      opacity: 1;
  }
}

@media (max-width: 1200px) {
  .wideTextContainer {
    padding: 0 10%;
  }

  .wideTextContainer p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .projectHomeContainer {
    padding: 0 5%;
  }
}
