@font-face {
  font-family: 'fascinate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fascinateinline/v23/jVyR7mzzB3zc-jp6QCAu60poNqIy5grIfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Nerko One';
  src: url('/assets/fonts/NerkoOne-variable.ttf') format('truetype');
  size-adjust: 120%;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-variable.ttf') format('truetype');
  size-adjust: 102%;
}

@font-face {
  font-family: 'Figtree';
  font-style: italic;
  src: url('/assets/fonts/Figtree-italic-variable.ttf') format('truetype');
  size-adjust: 102%;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/assets/fonts/Exo2-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  src: url('/assets/fonts/Exo2-italic-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/assets/fonts/hanken-grotesk-variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: italic;
  src: url('/assets/fonts/hanken-grotesk-italic-variable.ttf') format('truetype');
}
