.subtitle {
  font-size: 25pt;
  margin: 20px 40px;
}

.card {
  display: grid;
  position: relative;
  align-content: flex-start; /* put the extra space at bottom of card */
  background-color: var(--background-alt-light);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease; 
  transition: all 0.5s ease;
  font-family: var(--font-sans-title);
  order: 99; /* allows custom orders below this */ 
  flex: 0 0 31.3%;
}

.cardTop {
  width: 100%;
  height: min-content;
  position: relative;
  text-align: center;
  /* transition: max-height 0.1s ease-out; */
  z-index: 1; /* force being above the base */
  border-radius: 20px;
}

.cardDescription {
  margin: 2% 0%;
}

.cardBase {
  width: 95%;
  /* margin: auto; */
  margin: 2% 2% 9% 2%;
  position: relative;
  text-align: center;
  color: var(--text-primary);
  font-size: calc(8pt + 1vw);
  border-radius: 10px;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 0 0 20%;
  flex-wrap: wrap;
  gap: 6% 3%;
  /* row-gap: 6%; */
  padding: 2% 4% 15%;
  list-style: none;
}

.gridImage {
  width: 50%;
  margin: 1% 0%;
  aspect-ratio: 1; /*square image*/
}

.podium1 {
  margin-top: 0;
}

.podium1 > div > img {
  width: calc(35% + 40px);
}

.podium2 {
  margin-top: 20px;
}

.podium2 > div > img {
  width: calc(35% + 20px)
}

.podium3 {
  margin-top: 40px;
}

.podium3 > div > img {
  width: 35%;
}

.projectInfoText {
  position: absolute;
  justify-self: right;
  align-self: flex-end;
  font-size: 12pt;
  text-align: right;
  color:#a0a0a0;
  margin: 0 5% 3% 0;
}

/* title properties */

.titleContainer {
  width: 100%;
  height: calc(10rem + 15vh + 40px); /* 40px bottom margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* light mode? v v */
  /* background-image: url("/assets/index/title-bg.svg"), linear-gradient(
    to bottom right,
    rgb(1, 65, 255),
    rgb(1, 255, 255),
    rgb(255, 65, 255)
  ); */

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/home/title-bg.svg");
  /* triangle background (title-bg.svg) modified from SVGBackgrounds.com */
  font-family: var(--font-sans-title);
}

.titleBackground {
  /* same positioning as titleContainer */
  width: 100%;
  height: calc(10rem + 15vh + 40px);
  position: absolute;
  background-image:
  linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0.1),
    rgba(1, 255, 255, 0.1),
    rgba(219, 115, 219, 0.1),
    rgba(1, 65, 255, 0.1)
  );
  background-size: 400% 400%;
  animation: titleBackground 20s infinite ease-in-out;
}

@keyframes titleBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.titleSVG {
  width: 100%;
  height: calc(100% - 2.1rem); /* container height - roller */
  display: block;
  margin-bottom: 20px;
}

.titleBackgroundSVG {
  height: inherit;
  position: absolute;
}

.titleText {
  font-size: calc(6rem + 3vw);
  font-weight: 500;
  stroke-dasharray: 0px 110px;
  stroke-width: 3px;
  stroke-dashoffset: 0;
}

.titlePrimaryStroke {
  stroke: var(--title-primary);
  fill: none;
}

.titleSecondaryStroke {
  stroke: var(--title-secondary);
  fill: none;
}

.titlePrimaryFill {
  stroke: var(--title-primary);
  fill: var(--title-primary);
}

.titleSecondaryFill {
  stroke: var(--title-secondary);
  fill: var(--title-secondary);
}

.titleStrokeAnimation {
  animation:
  dash 4s forwards ease-in-out,
  fadeOutInstant 5s forwards ease-in-out;
}

.titleFillAnimation {
  animation: fadeInInstant 5s forwards ease-in-out;
  stroke-dashoffset: -22%;
  stroke-dasharray: 300px 0;
}

.titleMask {
  animation: fadeOut 5s forwards ease-in-out;
}

.roller {
  width: 100%;
  height: 2.5rem;
  line-height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  color: var(--title-primary);
}

.rollerText {
  width: 100%;
  position: absolute;
  top: 0;
  animation: 
  slide 7s infinite 4s ease-in-out,
  fadeIn 6s forwards ease-in-out;
}

.homeTextContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTextBody {
  width: 100%;
  text-align: justify;
  font-size: 1.1rem;
  color: var(--text-primary);
}

.homeTextBody > p {
  margin-top: 2%;
}

.qna {
  font-style: italic;
  color: var(--text-secondary);
}

.inset {
  padding-left: 2%;
  border-left: 0.25rem solid var(--foreground-accent);
}

.icon {
  width: 40px;
  height: 40px;
}

.iconContainer {
  text-decoration: none;
  padding: 2% 1% 1%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 200px;
  /* todo: ^ would ideally be fit-content, but see below */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  /* above needs to be half of the width */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.filterWhite {
  filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(6deg) brightness(107%) contrast(108%);
}

/* media properties */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: scale(1.1);
    /* background: rgba(var(--card-rgb), 0.1); */
    /* border: 1px solid rgba(var(--card-border-rgb), 0.15); */
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 720px) {
  .grid {
    gap: 0;
    row-gap: 2%;
  }
  
  .grid > .card:nth-child(1) {
    order: 2;
  }

  .grid > .card:nth-child(2) {
    order: 1;
  }

  .card {
    flex: 0 0 80%;
  }

  .podium1 > div > img {
    width: 40%;
  }

  .podium2 {
    margin-top: 0;
  }

  .podium3 {
    margin-top: 0;
  }

  .podium3 > div > img {
    width: 40%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) and (max-width: 1260px) {
  .grid {
    gap: 8%;
    row-gap: 5%;
  }

  .grid > .card:nth-child(1) {
    order: 2;
  }

  .grid > .card:nth-child(2) {
    order: 1;
  }

  .card {
    flex: 0 0 40%;
  }

  .podium1 > div > img {
    width: 40%;
  }

  .podium2 {
    margin-top: 0;
  }

  .podium3 {
    margin-top: 0;
  }

  .podium3 > .cardTop {
    display: none;
  }

}

@media (prefers-color-scheme: dark) {
  /* todo */
}

@keyframes dash {
  to {
    stroke-dashoffset: -22%;
    stroke-dasharray: 300px 0;
  }
}

@keyframes fadeIn {
  0%, 
  81% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%, 
  81% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInInstant {
  0%, 
  80% {
    opacity: 0;
  }
  80.01%, 100% {
    opacity: 1;
  }
}

@keyframes fadeOutInstant {
  0%, 
  80% {
    opacity: 1;
  }
  80.01%, 100% {
    opacity: 0;
  }
}

@keyframes slide {
  0%,40% {
    top: 0;
  }
  50%,90% {
    top: -2.1rem;
  }
  100% {
    top: 0;
  }
}