@use "mixins";
@use "fonts";
@use "containers";

.home-bg {
  background: var(--theme-background-gradient);
  align-items: start;
}

#projects, #work {
  background: var(--theme-background-alternate);
}

#contacts {
  @include mixins.font-size(1.2rem);
  font-family: var(--font-title);
}

.intro-pg {
  p {
    font-family: var(--font-title);
  }
}

nav.home-nav {
  background-color: color-mix(in srgb, var(--sunset-blue-tertiary) 50%, transparent);
  backdrop-filter: blur(10px);

  &:not(.on-home) {
    box-shadow: 5px 3px 4px var(--shadow-primary);
  }

  > div {
    max-width: 1000px;
    margin: 0 40px;
  }
}

.home-links {
  font-family: var(--font-title);

  a {
    display: inline-flex;
    gap: 0.75rem;
    text-decoration: none;

    &::after {
      content: '>';
      display: block;
      margin-left: 5px;
    }
  }
}

.card {
  display: grid;
  position: relative;
  align-content: flex-start; /* put the extra space at bottom of card */
  background-color: var(--card-primary);
  background-color: color-mix(in srgb, var(--card-primary) 50%, transparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--card-border);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-family: var(--font-title);
  order: 5;
  flex: 0 0 30%;
  text-decoration: none;
  box-shadow: 4px 4px 5px var(--shadow-primary);
}

.card-image-square {
  @extend .card;
  border-radius: 2rem;
  aspect-ratio: 1;
  box-shadow: 8px 8px 15px var(--shadow-primary);

  > img {
    width: 100%;
    aspect-ratio: 1;
    image-rendering: pixelated;
    transition: border-radius 0.3s ease-out;
    border-radius: inherit;
  }

  .card-base {
    position: absolute;
    bottom: 0;
    background-color: color-mix(in srgb, var(--card-primary) 90%, transparent);
    backdrop-filter: blur(7px);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

.card-no-image-square {
  @extend .card;
  border-radius: 0;

  .card-base {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  &:hover {
    border-radius: 2rem;
  }
}

.cardTop {
  width: 100%;
  height: min-content;
  position: relative;
  text-align: center;
  /* transition: max-height 0.1s ease-out; */
  z-index: 1; /* force being above the base */
  border-radius: 20px;
}

.card-base {
  position: relative;
  width: 100%;
  text-align: center;
  color: var(--text-primary);
  @include mixins.font-size(1.2rem);
}

.project-info-text {
  @include mixins.font-size(0.9rem);
  align-self: flex-end;
  color:#a0a0a0;
}

/* title properties */

.title-wrapper {
  width: 100%;
  position: relative;
  text-align: center;

  img {
    width: 100%;
    image-rendering: pixelated;

    @include mixins.respond-above('lg') {
      aspect-ratio: 0.617;
    }
  }

  h1 {
    --shadow-offset: 16px;
      @include mixins.respond-below('md') {
        --shadow-offset: 8px;
      }
  }

  h2 {
    --shadow-offset: 4px;
  }

  h1, h2 {
    z-index: 2;
    color: white;
    
    &:first-of-type {
      text-shadow: var(--sunset-blue-tertiary) calc(-1 * var(--shadow-offset)) var(--shadow-offset) 0;
      background-clip: text;
      background-color: white;
      pointer-events: none;
    }

    &:last-of-type {
      background-clip: text;
      background-image: var(--shimmer-gradient);
      background-size: 400% 400%;
      animation: titleShimmerEffect 10s infinite ease-in-out;
      pointer-events: none;
    }
  }

  &.full {
    img {
      min-height: 500px;
      max-height: 100vh;
      object-fit: cover;
      object-position: bottom;
    }

    h1 {
      @include mixins.font-size(calc(min(196pt, 20vw)));
    }

    h2 {
      @include mixins.font-size(calc(min(35pt, 3.5vw)));
    }
  }

  &:not(.full) {
    img {
      max-height: calc(max(400px, 30vh));
      object-fit: cover;
    }

    h1 {
      @include mixins.font-size(calc(min(128pt, 15vw)));
    }
  }
}

@keyframes titleShimmerEffect {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.homeTextBody {
  width: 100%;
  color: var(--text-primary);
  margin-bottom: 25vh;
  min-height: 25vh;
}

.qna {
  font-style: italic;
  color: var(--text-secondary);
}

.inset {
  padding-left: 15px;
  border-left: 0.25rem solid var(--foreground-accent);
}

.contact-icon {
  width: 40px;
  height: 40px;
}

.contact-icon-tooltip-container {
  position: relative;
  display: inline-block;
}

.contact-icon-tooltip-container span {
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;

  &.hidden {
    pointer-events: none;
    opacity: 0;
  }

  &:not(.hidden) {
    opacity: 1;
  }
}

.contact-icon-tooltip-container span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.contactIconFilter {
  filter: invert(10%);
}

@media (prefers-color-scheme: dark) {
  .contactIconFilter {
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(6deg) brightness(107%) contrast(108%);
  }
}

/* media properties */

/* Mobile */
@media (max-width: 720px) {
  .homeTextBody p {
    text-align: start;
  }
  
}

@keyframes dash {
  to {
    stroke-dashoffset: -22%;
    stroke-dasharray: 300px 0;
  }
}

@keyframes fadeIn {
  0%, 
  81% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%, 
  81% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInInstant {
  0%, 
  80% {
    opacity: 0;
  }
  80.01%, 100% {
    opacity: 1;
  }
}

@keyframes draw-title {
  0% {
    stroke-dashoffset: var(--title-line-length);
  }

  50% {
    fill: rgba(255, 255, 255, 0);
  }

  90% {
    stroke-dashoffset: 0;
  }

  100% {
    fill: rgba(255, 255, 255, 0.2);
  }

}

@keyframes slide {
  0%,40% {
    top: 0;
  }
  50%,90% {
    top: -2.1rem;
  }
  100% {
    top: 0;
  }
}
