.subtitle {
  font-size: 25pt;
  margin: 20px 40px;
}

.card {
  display: grid;
  position: relative;
  align-content: flex-start; /* put the extra space at bottom of card */
  background-color: var(--card-primary);
  background-color: color-mix(in srgb, var(--card-primary) 50%, transparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--card-border);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease; 
  transition: all 0.5s ease;
  font-family: var(--font-sans-title);
  order: 5;
  flex: 0 0 31.3%;
  text-decoration: none;
  box-shadow: 4px 4px 5px var(--shadow-primary);
}

.cardTop {
  width: 100%;
  height: min-content;
  position: relative;
  text-align: center;
  /* transition: max-height 0.1s ease-out; */
  z-index: 1; /* force being above the base */
  border-radius: 20px;
}

.cardDescription {
  margin: 2% 0%;
}

.cardBase {
  width: 95%;
  /* margin: auto; */
  margin: 2% 2% 9% 2%;
  position: relative;
  text-align: center;
  color: var(--text-primary);
  font-size: calc(8pt + 1vw);
  border-radius: 10px;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 0 0 20%;
  flex-wrap: wrap;
  gap: 50px;
  padding: 2% 4% 15%;
  list-style: none;
}

.gridImage {
  margin: 1% 0%;
  aspect-ratio: 1; /*square image*/
  border-radius: 50%;
}

.podium1 {
  margin-top: 0;
}

.podium1 > div > img {
  width: 224px;
}

.podium2 {
  margin-top: 14px;
}

.podium2 > div > img {
  width: 210px;
}

.podium3 {
  margin-top: 38px;
}

.podium3 > div > img {
  width: 186px;
}

.projectInfoText {
  position: absolute;
  justify-self: right;
  align-self: flex-end;
  font-size: 12pt;
  text-align: right;
  color:#a0a0a0;
  margin: 0 5% 3% 0;
}

/* title properties */

.titleContainer {
  position: relative;
  width: 100%;
  height: calc(30vh + 40px); /* 40px bottom margin */
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  cursor: pointer;
  background: transparent;

  font-family: var(--font-sans-title);

  transition: height 0.5s, width 0.5s;

  .attribution {
    position: absolute;
    font-size: medium;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
    color: #ffffff;
  }

  .titleShimmer, .titleSVG, .roller {
    transition: opacity 0.3s;
  }
}

.titleContainer.expanded {
  height: calc(min(50dvw, 640px));

  .titleBackground {
    width: calc(min(100dvw, 1280px));
    min-height: unset;
  }

  .attribution {
    opacity: 1;
  }
}

.titleContainer:hover, .titleContainer.expanded {
  .titleShimmer, .titleSVG, .roller {
    opacity: 0;
  }
}

.titleBackground {
  /* this is a separate element because we need to be able to click outside it if too big */
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/home/sorry-i-never-got-to-say-goodbye.gif");
  background-size: cover;
  background-position: center 70%;
  image-rendering: pixelated;
  transition: width 0.5s; /* *not* height, this is managed by the parent */
}

.titleShimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: var(--title-background-gradient);
  background-size: 400% 400%;
  animation: titleShimmerEffect 20s infinite ease-in-out;
}

@keyframes titleShimmerEffect {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.titleSVG {
  width: 100vw;
  height: 30vh;
  min-height: 160px;
  display: block;
  margin-bottom: 20px;
  z-index: 1;
}

.titleBackgroundSVG {
  height: inherit;
  position: absolute;
}

.titleText {
  font-size: calc(6rem + 3vw);
  font-weight: 500;
  stroke-dasharray: 0px 110px;
  stroke-width: 3px;
  stroke-dashoffset: 0;
}

.titlePrimaryStroke {
  stroke: var(--title-primary);
  fill: none;
}

.titleSecondaryStroke {
  stroke: var(--title-secondary);
  fill: none;
}

.titlePrimaryFill {
  stroke: var(--title-primary);
  fill: var(--title-primary);
}

.titleSecondaryFill {
  stroke: var(--title-secondary);
  fill: var(--title-secondary);
}

.titleStrokeAnimation {
  animation:
  dash 4s forwards ease-in-out,
  fadeOutInstant 5s forwards ease-in-out;
}

.titleFillAnimation {
  animation: fadeInInstant 5s forwards ease-in-out;
  stroke-dashoffset: -22%;
  stroke-dasharray: 300px 0;
}

.titleMask {
  animation: fadeOut 5s forwards ease-in-out;
}

.roller {
  width: 100%;
  height: 2.5rem;
  line-height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 2vh;
  color: var(--title-primary);
}

.rollerText {
  width: 100%;
  position: absolute;
  top: 0;
  animation: 
  slide 7s infinite 4s ease-in-out,
  fadeIn 6s forwards ease-in-out;
}

.homeTextBody {
  width: 100%;
  text-align: justify;
  font-size: 1.1rem;
  color: var(--text-primary);
  margin-bottom: 25vh;
  min-height: 25vh;
}

.homeTextBody > p {
  margin-top: 2%;
}

.qna {
  font-style: italic;
  color: var(--text-secondary);
}

.inset {
  padding-left: 15px;
  border-left: 0.25rem solid var(--foreground-accent);
}

.icon {
  width: 40px;
  height: 40px;
}

.iconContainer {
  padding: 2% 10px 1%;
}

.contactIconsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  
  width: 200px;
  /* todo: ^ would ideally be fit-content, but see below */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 7px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  /* above needs to be half of the width */
  transition: opacity 0.3s;
}

.tooltipHidden {
  opacity: 0;
}

.tooltipVisible {
  opacity: 1;
}

.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.contactIconFilter {
  filter: invert(10%);
}

@media (prefers-color-scheme: dark) {
  .contactIconFilter {
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(6deg) brightness(107%) contrast(108%);
  }
}

/* media properties */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: scale(1.1);
    /* background: rgba(var(--card-rgb), 0.1); */
    /* border: 1px solid rgba(var(--card-border-rgb), 0.15); */
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 720px) {
  .grid {
    gap: 40px 20px;
    margin-bottom: 200px;
  }
  
  .grid > .card:nth-child(1) {
    order: 2;
  }

  .grid > .card:nth-child(2) {
    order: 1;
  }

  .card {
    flex: 0 0 80%;
  }

  .podium1 > div > img {
    width: 140px;
  }

  .podium2 > div > img {
    width: 140px;
  }

  .podium2 {
    margin-top: 0;
  }

  .podium3 > div > img {
    width: 140px;
  }

  .podium3 {
    margin-top: 0;
  }

  .homeTextBody {
    font-size: 1rem;
  }

  .homeTextBody p {
    text-align: start;
  }
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) and (max-width: 1260px) {
  .grid {
    gap: 40px;
    margin-bottom: 100px;
  }

  .grid > .card:nth-child(1) {
    order: 2;
  }

  .grid > .card:nth-child(2) {
    order: 1;
  }

  .card {
    flex: 0 0 40%;
  }

  .podium1 > div > img {
    width: 196px;
  }

  .podium2 > div > img {
    width: 196px;
  }

  .podium2 {
    margin-top: 0;
  }

  .podium3 {
    margin-top: 0;
  }

  .podium3 > .cardTop {
    display: none;
  }

}

@keyframes dash {
  to {
    stroke-dashoffset: -22%;
    stroke-dasharray: 300px 0;
  }
}

@keyframes fadeIn {
  0%, 
  81% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%, 
  81% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInInstant {
  0%, 
  80% {
    opacity: 0;
  }
  80.01%, 100% {
    opacity: 1;
  }
}

@keyframes fadeOutInstant {
  0%, 
  80% {
    opacity: 1;
  }
  80.01%, 100% {
    opacity: 0;
  }
}

@keyframes slide {
  0%,40% {
    top: 0;
  }
  50%,90% {
    top: -2.1rem;
  }
  100% {
    top: 0;
  }
}
