/* main */

.mathsArtGrid {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    flex: 0 0 20%;
    flex-wrap: wrap;
    column-gap: 3%;
    padding: 1% 10% 5%;
    text-align: center;
}

.topText {
    width: 65%;
    text-align: center;
}

.mathsArtGridSquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 48%;
    width: 45%;
    aspect-ratio: 1;
    margin-top: 3%; /* should be equal to .mathsArtGrid column-gap */
    background-color: var(--card-primary);
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease; 
    transition: all 0.5s ease;
    font-family: var(--font-sans-title);
    text-decoration: none;
    padding: 2%;
}

.mathsArtGridSquare > img {
    width: 80%;
}

.mathsArtGridSquare:hover {
    transform: scale(1.02);
}

.backToMathsDirectory {
    position: fixed;
    padding: 0.6rem;
    margin-right: 100vw;
    margin-top: 4.5rem;
    transform: translateX(3.5rem);
    background-color: var(--card-primary);
    border-radius: 100%;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--shadow-primary);;
}

/* projects */

.canvasProject {
    width: 80%;
    left: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 180vh;
}

.canvasProject__mainContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 0 0 45vw;
    margin-top: 2%;
}

.canvasProject__description {
    width: 100%;
    text-align: justify;
}

.canvasProject__description h4 {
    margin: 3vh 0 1vh;
}

.canvasProject__canvasAndOptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvasProject__canvasAndOptions canvas {
    border: 1px solid var(--text-secondary);
    border-radius: 20px;
}

.canvasProject__options {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sliderOptions {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sliderOptions .rangeSlider {
    width: 80%;
}

.canvasProject__columnFlex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.canvasProject__rowFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.detailsIndent {
    background-color: var(--background-alt-dark);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--background-alt-dark-accent);
    border-left: 0.25rem solid var(--foreground-accent);
    margin: 0.5rem 0 0 1rem;
  }

.radialsButton {
    width: 120px;
}

@media screen and (max-width: 800px) {
    .canvasProject__canvasAndOptions canvas {
        width: 100%;
    }

    .mathsArtGrid {
        padding: 1% 5% 5%;
    }

    .mathsArtGridSquare {
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 1400px) {
    .topText {
        width: 90%;
        text-align: center;
    }

    .canvasProject__mainContainer {
        flex-direction: column;
    }

    .canvasProject__canvasAndOptions {
        order: -1;
        margin-bottom: 20px;
    }

    .canvasProject__description {
        text-align: start;
        padding-bottom: 200px;
    }

    .widthContainer {
        display: flex;
        flex-flow: column;
    }

    .canvasAndOptions > .flexContainer {
        max-width: 600px;
        margin: auto;
    }

    .canvasAndOptions{
        order: -1;
    }
}
