.titlePrimary {
  color: var(--title-primary);
}

.titleSecondary {
  color: var(--title-secondary);
}

.myName {
  font-size: 2rem;
}

.blog {
  width: 100%;
  row-gap: 2rem;
  align-items: center;
  padding: 1rem 15%;
}

.blogBody {
  display: block;
}

.blogText {
  width: 100%;
  font-size: 1.3rem;
}

.blogText p {
  margin: 0 0 1.5rem;
}

.blogText p a {
  text-decoration: underline;
}

.blogImage {
  width: 16rem;
  height: 16rem;
  float: right;
  border-radius: 20px;
  margin: 0 2rem 2rem;
}

.blogImage img {
  width: 95%;
  height: 95%;
  margin: 2.5%;
  object-fit: cover;
}

nav .navBox {
  float: right;
  color:#a0a0a0;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  transition: all 200ms ease-out;
}

nav .navBox:hover {
  color:#fff;
  background-color: #394146;
  transition: all 50ms ease-in;
}

/* Mobile */
@media (max-width: 720px) {
  .blog {
    padding: 1rem 10%;
  }

  .blogBody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blogText {
    text-align: center;
  }
  
  .blogText p {
    margin: 0 0 1.5rem;
  }
  
  .blogImage {
    width: 20rem;
    height: 12rem;
    float: none;
    display: flex;
    justify-content: center;
  }

  .blogImage img {
    width: 11rem;
    height: 11rem;
    margin: 0.5rem;
    /* object-fit: cover; */
  }
}