.titlePrimary {
  color: var(--text-secondary);
  /* it's otherwise white-on-white, so use an alternative */
}

@media (prefers-color-scheme: dark) {
  .titlePrimary {
    color: var(--title-primary);
  }
}

.titleSecondary {
  color: var(--title-secondary);
}

.myName {
  font-family: var(--font-sans-title);
  font-size: 2rem;
  padding-left: 0.5rem;
}

.blog h1 {
  margin-top: 1%;
  margin-bottom: 3%;
}

.blog h2 {
  margin-top: 0;
  margin-bottom: 3%;
  font-size: 2.2rem;
}

.blogBody {
  display: block;
}

.blogText {
  width: 100%;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: justify;
}

.blogText p:not(.footnote) {
  margin: 0 0 1.5rem;
}

.blogImage {
  width: 16rem;
  height: 16rem;
  float: right;
  border-radius: 20px;
  margin: 1rem 0 2rem 2rem;
}

.blogImage img {
  width: 95%;
  height: 95%;
  margin: 2.5%;
  object-fit: cover;
  border-radius: 50%;
}

nav .navBox {
  float: right;
  color: var(--text-secondary);
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  transition: all 200ms ease-out;
}

nav .activeNavBox {
  color: var(--text-active);
}

nav .navBox:hover {
  color: var(--text-active);
  transition: all 100ms ease-in;
}

.hamburgerMenu {
  width: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(-160px, 14px);
  background-color: var(--card-secondary);
}

.pandemicIm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 5%;
}

.imageContainer {
  width: 85%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
  align-items: center;
  margin: 1rem auto 2rem;
}

.imageContainer p {
  text-align: center;
}

.doubleImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 0;
}

.footnote {
  font-size: 0.8rem;
  color: #a0a0a0;
  line-height: 1rem;
  margin: 0 0 0.8rem;
}

/* game-dev */

.slidingPane {
  width: 100%;
  height: 200px;
  margin: 3% 0 2%;
  background-color: purple;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.slidingPaneImageContainer {
  position: absolute;
  width: 50%;
  height: 200px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.slidingPaneImageContainerLeft {
  margin-left: 0;
  margin-right: 50%;
}

.slidingPaneImageContainerRight {
  margin-left: 50%;
  margin-right: 0;
}

.slidingPaneImageContainer img {
  width: 100%;
  display: block; /* 4px space fix */
}


.slidingPane:hover {
  scale: 1.03;
  cursor: pointer;
}

.slidingPaneTitle {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slidingPaneTitle h1 {
  margin: 0;
}

.slidingPaneDescription {
  width: 50%;
  height: 200px;
  padding: 10px;
}

.verticalPane {
  width: 50%;
  height: 300px;
  margin: 2% 0 1%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.verticalPane:hover {
  scale: 1.02;
  cursor: pointer;
}

.verticalPane:hover .verticalPaneTitle {
  opacity: 0;
}

.verticalPaneTop {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.verticalPaneTopHide {
  transform: translateY(-100%);
}

.verticalPaneTopHide .verticalPaneTitle {
  opacity: 0;
}

.verticalPaneImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.verticalPaneImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.verticalPaneTitle {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000b0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.verticalPaneTitle h2 {
  color: #eee;
}

.verticalPaneDescription {
  padding: 20px 40px;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--card-primary);
  min-height: 300px;
  z-index: -1;
}

@media (max-width: 1680px) {
  .blog {
    padding: 1rem 15%;
  }

  .verticalPane {
    width: 80%;
  }

  .verticalPaneDescription {
    padding: 15px 25px;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

/* Mobile */
@media (max-width: 840px) {
  .verticalPane {
    width: 90%;
    height: auto;
    max-height: 200px;
    overflow: clip;
  }

  .verticalPaneActive {
    /* a smaller value here makes the open/closing animation smoother, but breaks faster for high aspect resolutions. */
    max-height: 1200px;
  }

  .verticalPaneTop {
    height: 200px;
  }

  .verticalPaneDescription {
    position: relative;
    margin-top: 200px;
    min-height: unset;
  }

  .verticalPaneTopHide {
    transform: none;
  }

  .verticalPaneDescriptionHide {
    transform: translateY(-100%);
  }

  .blog {
    padding: 1rem 10%;
  }

  .blogBody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blogText {
    text-align: start;
  }
  
  .blogText p {
    margin: 0 0 1.5rem;
  }
  
  .blogImage {
    width: 20rem;
    height: 12rem;
    float: none;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .blogImage img {
    width: 11rem;
    height: 11rem;
    margin: 0.5rem;
    /* object-fit: cover; */
  }
}
