.titlePrimary {
  color: var(--title-primary);
}

.titleSecondary {
  color: var(--title-secondary);
}

.myName {
  font-family: var(--font-sans-title);
  font-size: 2rem;
  padding-left: 0.5rem;
}

.blog {
  width: 100%;
  row-gap: 1rem;
  align-items: center;
  padding: 1rem 25%;
}

.blog h1 {
  margin-top: 1%;
  margin-bottom: 3%;
}

.blog h2 {
  margin-top: 0;
  margin-bottom: 3%;
  font-size: 2.2rem;
}

.blogBody {
  display: block;
}

.blogText {
  width: 100%;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: justify;
}

.blogText p:not(.footnote) {
  margin: 0 0 1.5rem;
}

.blogImage {
  width: 16rem;
  height: 16rem;
  float: right;
  border-radius: 20px;
  margin: 1rem 0 2rem 2rem;
}

.blogImage img {
  width: 95%;
  height: 95%;
  margin: 2.5%;
  object-fit: cover;
  border-radius: 50%;
}

nav .navBox {
  float: right;
  color:#a0a0a0;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  transition: all 200ms ease-out;
}

nav .activeNavBox {
  background-color: #23282c;
}

nav .navBox:hover {
  color:#fff;
  background-color: #394146;
  transition: all 50ms ease-in;
}

.pandemicIm {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 5%;
}

.imageContainer {
  width: 85%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
  align-items: center;
  margin: 1rem auto 2rem;
}

.imageContainer p {
  text-align: center;
}

.doubleImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 0;
}

.footnote {
  font-size: 0.8rem;
  color: #a0a0a0;
  line-height: 1rem;
  margin: 0 0 0.8rem;
}

@media (max-width: 1680px) {
  .blog {
    padding: 1rem 15%;
  }
}

/* Mobile */
@media (max-width: 840px) {
  .blog {
    padding: 1rem 10%;
  }

  .blogBody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blogText {
    text-align: center;
  }
  
  .blogText p {
    margin: 0 0 1.5rem;
  }
  
  .blogImage {
    width: 20rem;
    height: 12rem;
    float: none;
    display: flex;
    justify-content: center;
  }

  .blogImage img {
    width: 11rem;
    height: 11rem;
    margin: 0.5rem;
    /* object-fit: cover; */
  }
}