// TODO: merge with Bootstrap styling

.text-highlight {
  color: var(--text-secondary);
}

.text-dark {
  color: var(--text-tertiary);
}

.text-disabled {
  color: var(--text-disabled);
}

.font-title {
  font-family: var(--font-title);
}

.font-isaac-title {
  font-family: var(--font-isaac-title);
}

.font-isaac {
  font-family: var(--font-isaac-body);
}

.fs-hero {
  font-size: 6rem;
  font-weight: 700;
}

.theme-light {
  background-color: var(--theme-background-alternate);
}
