// TODO: merge with Bootstrap styling

.text-highlight {
  color: var(--text-secondary);
}

.text-dark {
  color: var(--text-tertiary);
}

.text-disabled {
  color: var(--text-disabled);
}

.font-title {
  font-family: var(--font-title);
}
