.main {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 200vh;
}

.subtitle {
  font-size: 25pt;
  margin: 20px 40px;
}

.card {
  display: grid;
  position: relative;
  align-content: flex-start; /* put the extra space at bottom of card */
  background-color: var(--card-background);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease; 
  transition: all 0.5s ease;
  flex: 0 0 31.3%;
  order: 99; /* allows custom orders below this */ 
}

.cardTop {
  width: 100%;
  height: min-content;
  position: relative;
  text-align: center;
  /* transition: max-height 0.1s ease-out; */
  z-index: 1; /* force being above the base */
  border-radius: 20px;
}

.cardTitle {
  margin: 3% 0%;
  font-size: calc(12pt + 1vw);
}

.cardDescription {
  margin: 2% 0%;
}

.cardBase {
  width: 95%;
  /* margin: auto; */
  margin: 2% 2% 9% 2%;
  position: relative;
  text-align: center;
  color: var(--text-primary);
  font-size: calc(8pt + 1vw);
  border-radius: 10px;
}

.cardBase h1 {
  font-size: calc(12pt + 2vw);
}

.cardBase h2 {
  font-size: calc(12pt + 1.5vw);
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  row-gap: 6%;
  padding: 2% 4% 15%;
  list-style: none;
}

.gridImage {
  width: 50%;
  margin: 1% 0%;
  aspect-ratio: 1; /*square image*/
}

.podium1 {
  margin-top: 0;
}

.podium1 > div > img {
  width: calc(35% + 40px);
}

.podium2 {
  margin-top: 20px;
}

.podium2 > div > img {
  width: calc(35% + 20px)
}

.podium3 {
  margin-top: 40px;
}

.podium3 > div > img {
  width: 35%;
}

.projectInfoText {
  position: absolute;
  justify-self: right;
  align-self: flex-end;
  font-size: 12pt;
  text-align: right;
  color:#a0a0a0;
  margin: 0 5% 3% 0;
}

/* title properties */

.titleContainer {
  width: 100%;
  height: calc(10rem + 15vh + 40px); /* 40px bottom margin */
  margin: 0 0 40px; /* top margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-glow);
}

.titleSVG {
  width: 100%;
  height: calc(100% - 2.1rem); /* container height - roller */
  display: block;
  margin-bottom: 20px;
}

.titleText {
  font-family: var(--font-sans);
  font-size: calc(6rem + 3vw);
  font-weight: 500;
  stroke-dasharray: 0px 110px;
  stroke-width: 2px;
  stroke-dashoffset: 0;
  /* animation: stroke-offset 2s infinite linear; */
  animation: dash 4s forwards ease-in-out;
}

.titleFade {
  animation: fade 5s forwards ease-in-out;
}

.titlePrimaryStroke {
  stroke: var(--title-primary);
  fill: none;
}

.titleSecondaryStroke {
  stroke: var(--title-secondary);
  fill: none;
}

.titlePrimaryFill {
  fill: var(--title-primary);
}

.titleSecondaryFill {
  fill: var(--title-secondary);
}

/* .titleTextFadeW {
  fill: var(--title-primary);
  animation: fade 5s forwards ease-in-out;
}

.titleTextFadeG {
  fill: var(--title-secondary);
  animation: fade 5s forwards ease-in-out;
} */

.roller {
  width: 100%;
  height: 2.5rem;
  line-height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
  color: var(--title-primary);
}

.rollerText {
  width: 100%;
  position: absolute;
  top: 0;
  animation: slide 7s infinite 4s ease-in-out,
             fade 6s forwards ease-in-out;
}

/* media properties */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: scale(1.1);
    /* background: rgba(var(--card-rgb), 0.1); */
    /* border: 1px solid rgba(var(--card-border-rgb), 0.15); */
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 720px) {
  .grid {
    gap: 0;
    row-gap: 2%;
  }
  
  .grid > .card:nth-child(1) {
    order: 2;
  }

  .grid > .card:nth-child(2) {
    order: 1;
  }

  .card {
    flex: 0 0 80%;
  }

  .podium1 > div > img {
    width: 40%;
  }

  .podium2 {
    margin-top: 0;
  }

  .podium3 {
    margin-top: 0;
  }

  .podium3 > div > img {
    width: 40%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 721px) and (max-width: 1260px) {
  .grid {
    gap: 8%;
    row-gap: 5%;
  }

  .grid > .card:nth-child(1) {
    order: 2;
  }

  .grid > .card:nth-child(2) {
    order: 1;
  }

  .card {
    flex: 0 0 40%;
  }

  .podium1 > div > img {
    width: 40%;
  }

  .podium2 {
    margin-top: 0;
  }

  .podium3 {
    margin-top: 0;
  }

  .podium3 > .cardTop {
    display: none;
  }

}

@media (prefers-color-scheme: dark) {
  /* todo */
}

@keyframes stroke-offset{
  100% {
    stroke-dashoffset: -25%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -22%;
    stroke-dasharray: 300px 0;
  }
}

@keyframes fade {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes thinText {
  0%,
  80% {
    font-weight: 600;
  }
  100% {
    font-weight: 150;
  }
}

@keyframes slide {
  0%,40% {
    top: 0;
  }
  50%,90% {
    top: -2.1rem;
  }
  100% {
    top: 0;
  }
}